# macOS
.DS_Store
**/.DS_Store

# Mathematica cache
*.mx
*.mx.bak

# Wolfram package index
*.wl.i

# Editor temp files
*~
*.swp

# Large intermediate data
IBPReduction*/
scratch/
test/

# Large data archives
*.tar.gz
*.zip

# Agent cache files and intermediate folders
asym/tmp/*
!asym/tmp/targetIntegrals_reduced.m
# asym/Bases/
asym/logs/
asym/boundary_agent/*
!asym/boundary_agent/*.wl
series_agent/*
!series_agent/*.wl
solve_agent/*
!solve_agent/*.wl

# Exclude large generated/run folders
extra/
log/
logs/
runs/fourloopI6boxing/
runs/fourloopI98/
runs/fourloopI108/
runs/fourloopI182/
runs/fourloopI218/
runs/fourloopI219/

# Exclude generated up-to-weight-8 SV .m basis files
data/*_uptow8_inuv*.m
